{{ $curLanguageName := .Site.Language.LanguageName }}
<header>
  <div class="header-title">
    {{ or .Site.Params.headTitle }}
  </div>
  <div class="header-subtitle">{{ .Site.Params.Description }}</div>
</header>
<div class="row header-items" style="padding-top: 1rem;">
  <div class="header-item">
    <a href="#" id="upcoming-btn" class="filter-link active">Upcoming</a>
  </div>
  <div class="header-item">
    <a href="#" id="all-btn" class="filter-link">All 2025</a>
  </div>
  <div class="header-item header-item-right">
    {{ range .Site.Params.socials }}
    <a href="{{ .link }}" target="_blank">{{ .name }}</a>
    {{ end }}
  </div>
</div>
<div class="row">
  {{ range .Site.Languages -}} {{ if ne .LanguageName $curLanguageName }}
  <div class="lang-switch col-xs-3 col-xs-offset-9">
    <a href="/{{ .Lang }}/">{{ .LanguageName }}</a>
  </div>
  {{ end }} {{ end }}
</div>
<div class="header-line"></div>
